.filters {
    display: flex;
    justify-content: space-around;
}

.filter {
    position: relative;
}

.filter .popover {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 10px;
    list-style: none;
    color: #484848;
}

.filter:hover .popover {
    display: block;
}

.filter h2 {
    font-size: 16px;
    margin: 0;
}

.filter ul {
    padding: 0;
}
